
.itemDetailContainer {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.itemDetailContainer_Image {
    width: 90%;
}

.itemDetailContainer_Name{
    font-size: 1.5vw;
}

.itemDetailContainer_Price{
    font-size: 1.5vw;
    color: #328468;
}

.itemDetailContainer_Image img{
    width: 90%;
}


.itemDetailContainer_Description {
    font-size: 1.5vw;
    width: 80%;
    margin-top: 1vw;
}

.finishGoToCartButton {
    font-size: 1vw;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    
    width: 12vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    border: solid 1px #328468;
    background-color: #328468;
}

.finishGoToCartButton:hover {
    font-size: 1vw;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    
    width: 12vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    border: solid 1px #43A080;
    background-color: #43A080;
} 

.finishGoToCartButton:active {
    font-size: 1vw;
    text-align: center;
    color: #328468;
    display: flex;
    justify-content: center;
    
    width: 12vw;
    height: 1.5vw;
    border-radius: 0.5vw;

    background-color: white;
    border: solid 1px #43A080;
} 
