.newReleasesContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 5%;
    padding-left: 5%;
    margin-bottom: 5%;
}
  