.logoContainer {
    background-color: #52B191;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mainMenu {
    list-style: none;
    display: flex;
}

.navBarItem {
    text-align: center;
    border-right: 0.5px solid #8A8A8A;
    width: 19%;
    padding-top: 0.5vw;
}
.navBarItem_Title {
    padding: 0.5vw;
    display: block;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 600;
    color: #328468;
}
.navBarItem_Icon {
    margin-right: 0.8vw;
}

.navBarItem:hover,
.navBarItem_LastItem:hover {
    background-color: #328468;
    cursor: pointer;
}
.navBarItem:hover .navBarItem_Title {
    color: white;
}
.navBarItem_LastItem:hover .navBarItem_Title {
    color: white;
}

.navBarItem:active,
.navBarItem_LastItem:active {
    background-color: #43A080;
    color: white;
}

.goToCartButton {
    text-align:end;
    width: 19%;
}

.goToCartButton_Icon {
    background-color: #328468;
    padding: 0.8vw;
    border-radius: 60%;
    color: white;
    font-size: 1.5vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}




  