
.eachPaymentContainer {
    width: 20%;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
  
.eachPaymentContainer__Icon {
    font-size: 4vw;
    color: #21654E;
}

.eachPaymentContainer__Text {
    font-size: 1.1vw;
    align-items: center;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}


